Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["-m", "3", "--tc"]
  - repo: local
    hooks:
      - id: poetry
        name: poetry
        entry: poetry install
        language: system
        pass_filenames: false
        files: pyproject.toml|poetry.lock
  - repo: local
    hooks:
      - id: typeshed
        name: typeshed
        entry: bash -c 'git clone https://github.com/python/typeshed.git || true; pushd typeshed && git checkout 9af49c0 || popd'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright || bash -c 'poetry shell || pyright'
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.91"]
  - repo: local
    hooks:
      - id: smoketest
        name: smoketest
        entry: poetry run pytest -k test_when_nb_present_then_collected
        language: system
        pass_filenames: false

refactor report build
  pyrightconfig.json
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/jupyter_book_run.py
  src/nbmake/pytest_plugin.py
  tests/test_jupyter_book_run.py
Due: pyright

rename
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/nb_result.py
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  tests/test_nb_run.py
Due: pyright

f
  src/nbmake/util.py
Due: pyright

install fork
  .pre-commit-config.yaml
  docs/_config.yml
  poetry.lock
  pyproject.toml
  setup.py
  src/nbmake/pytest_plugin.py
Due: poetry, pyright

h
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  devtools/run_pyright
Due: none

f
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
Due: none

jk
  .github/workflows/pytest.yml
Due: none

m
  .github/workflows/pytest.yml
Due: none

g
  .github/workflows/pytest.yml
Due: none

b
  .github/workflows/pytest.yml
Due: none

d
  .github/workflows/pytest.yml
Due: none

l
  .github/workflows/pytest.yml
Due: none

kl
  .github/workflows/pytest.yml
Due: none

j
  .github/workflows/pytest.yml
Due: none

k
  .github/workflows/pytest.yml
Due: none

j
  .pre-commit-config.yaml
Due: none

n
  .github/workflows/pytest.yml
Due: none

f
  .github/workflows/pytest.yml
Due: none

disable broken test
  .vscode/settings.json
  tests/test_pytest_plugin.py
Due: pyright

d
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
  .vscode/settings.json
Due: none

ty
  .vscode/settings.json
  tests/test_pytest_plugin.py
Due: pyright

f
  .gitignore
  .pre-commit-config.yaml
  README.rst
  poetry.lock
  pyproject.toml
  setup.py
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/pytest_plugin.py
Due: poetry, pyright

m
  .pre-commit-config.yaml
  devtools/run_pyright
Due: none

black
  setup.py
Due: pyright

f
  src/nbmake/pytest_plugin.py
Due: pyright

g
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_nb_run.py
Due: pyright

k
  src/nbmake/nb_run.py
Due: pyright

f
  src/nbmake/jupyter_book_adapter.py
Due: pyright

k
  src/nbmake/pytest_plugin.py
Due: pyright

k
  poetry.lock
  pyproject.toml
  setup.py
Due: poetry, pyright

dep
  poetry.lock
  pyproject.toml
  setup.py
Due: poetry, pyright

fix cov
  tests/test_pytest_plugin.py
Due: pyright

cov
  codecov.yml
Due: none

[ENH] Build executed nbs into an uploadable book (#6)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  README.rst
  codecov.yml
  docs/_config.yml
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  setup.py
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/jupyter_book_result.py
  src/nbmake/jupyter_book_run.py
  src/nbmake/nb_result.py
  src/nbmake/nb_run.py
  src/nbmake/plugin.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  src/nbmake/typestubs/_pytest/__init__.pyi
  src/nbmake/typestubs/_pytest/pytester/__init__.pyi
  src/nbmake/typestubs/jupyter_book/__init__.pyi
  src/nbmake/typestubs/nbformat/__init__.pyi
  src/nbmake/typestubs/nbformat/v4/__init__.pyi
  src/nbmake/typestubs/pydantic/__init__.pyi
  src/nbmake/typestubs/pytest/__init__.pyi
  src/nbmake/util.py
  tests/helper.py
  tests/test_jupyter_book_run.py
  tests/test_nb_run.py
  tests/test_plugin.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

deploy: 559256d0c527af99c774ce66650f2cf54269e803
  .buildinfo
  _static/__pycache__/__init__.cpython-36.pyc
  _static/__pycache__/__init__.cpython-39.pyc
  page1.html
  searchindex.js
Due: none

f
  .pre-commit-config.yaml
  README.md
  README.rst
  docs/_config.yml
  docs/landing-page.ipynb
  src/nbmake/pytest_plugin.py
Due: pyright
