Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        files: '(src|tests).*py'
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["-m", "3", "--tc"]
  - repo: local
    hooks:
      - id: poetry
        name: sync with poetry
        entry: bash -c 'mkdir dist && poetry run dephell deps convert --to-path dist/setup.py && diff dist/setup.py setup.py'
        language: system
        pass_filenames: false
        files: pyproject.toml|poetry.lock
  - repo: local
    hooks:
      - id: install typeshed
        name: typeshed
        entry: bash -c 'git clone https://github.com/python/typeshed.git || true; pushd typeshed && git checkout 9af49c0 || popd'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.91"]
  - repo: local
    hooks:
      - id: smoketest
        name: smoketest
        entry: poetry run pytest -k test_when_nb_present_then_collected
        language: system
        pass_filenames: false

t
  .github/workflows/test-publish-to-pypi.yml
Due: none

ok
  .github/workflows/publish-to-pypi.yml
  .github/workflows/pytest.yml
  .github/workflows/test-publish-to-pypi.yml
Due: none

bump nbclient version (#73)
  .devcontainer/devcontainer.json
  .github/workflows/publish-to-pypi.yml
  .github/workflows/test-publish-to-pypi.yml
  poetry.lock
  pyproject.toml
Due: poetry

release
  pyproject.toml
Due: poetry

Published new version
  pyproject.toml
Due: poetry

mocks
  src/nbmake/nb_run.py
  tests/resources/mock.ipynb
  tests/test_nb_run.py
Due: pyright

mocks (#74)
  src/nbmake/nb_run.py
  tests/resources/mock.ipynb
  tests/test_nb_run.py
Due: pyright

warn fix
  poetry.lock
  pyproject.toml
  src/nbmake/pytest_plugin.py
  tests/helper.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

pkg
  poetry.lock
  pyproject.toml
Due: poetry

pkg
  pyproject.toml
Due: poetry

lock
  poetry.lock
Due: poetry

ver
  poetry.lock
  pyproject.toml
  src/nbmake/pytest_plugin.py
Due: poetry, pyright

ve
  src/nbmake/pytest_plugin.py
Due: pyright

Fix pytest 7 warning (#75)
  poetry.lock
  pyproject.toml
  src/nbmake/pytest_plugin.py
  tests/helper.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

doc
  README.md
Due: none

doc (#76)
  README.md
Due: none

fix magic errors not causing failure
  poetry.lock
  src/nbmake/nb_run.py
  tests/resources/empty.ipynb
  tests/resources/magic_error.ipynb
  tests/test_nb_run.py
Due: poetry, pyright

fix ci
  .github/workflows/test-publish-to-pypi.yml
Due: none

f
  .github/workflows/test-publish-to-pypi.yml
Due: none

fix magic errors not causing failure (#78)
  .github/workflows/test-publish-to-pypi.yml
  poetry.lock
  src/nbmake/nb_run.py
  tests/resources/empty.ipynb
  tests/resources/magic_error.ipynb
  tests/test_nb_run.py
Due: poetry, pyright

token
  .github/workflows/publish-to-pypi.yml
  .github/workflows/test-publish-to-pypi.yml
Due: none

token (#79)
  .github/workflows/publish-to-pypi.yml
  .github/workflows/test-publish-to-pypi.yml
Due: none

usage err
  src/nbmake/nb_run.py
  tests/resources/usageerror.ipynb
  tests/test_nb_run.py
Due: pyright

Quick prototype for running by-cell.
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_cells/nbt.ipynb
  tests/test_cells/nbt.py
Due: pyright

Support non-section markdown. Moved tests.
  src/nbmake/pytest_items.py
  tests/bycell/nbt.ipynb
  tests/bycell/nbt.py
  tests/test_cells/nbt.ipynb
Due: pyright

Support percent notebooks.
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/bycell/explicit_integration_test.py
  tests/bycell/nbt.ipynb
  tests/bycell/simple_integration_test.py
Due: pyright

Separated new by-cell code from original code.
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
Due: pyright

Removed support for explicit cell markup - let's keep things simple.
  src/nbmake/pytest_items.py
  tests/bycell/explicit_integration_test.py
  tests/bycells/simple_integration_test.py
Due: pyright

Added readme and further simplified.
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  tests/bycells/README.md
  tests/bycells/simple_integration_test.py
Due: pyright

Moved back to 'bycell' to match cardinality used everywhere else.
  tests/bycell/README.md
  tests/bycell/simple_integration_test.py
Due: pyright

Moved documentation to top-level README file.
  README.md
  tests/bycell/README.md
Due: none

Misc changes, fixed unit tests.
  README.md
  src/nbmake/pytest_items.py
Due: pyright

Updated README.
  README.md
Due: none

Enhanced tests to include markdown cells.
  tests/bycell/simple_integration_test.py
  tests/helper.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright

Fixed unit tests, added more narrow percent mode filename patterns.
  src/nbmake/pytest_plugin.py
  tests/helper.py
Due: pyright

Added unit tests for bycell mode.
  README.md
  src/nbmake/pytest_items.py
  tests/helper.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright
