Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        files: '(src|tests).*py'
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["-m", "3", "--tc"]
  - repo: local
    hooks:
      - id: poetry
        name: sync with poetry
        entry: bash -c 'mkdir dist && poetry run dephell deps convert --to-path dist/setup.py && diff dist/setup.py setup.py'
        language: system
        pass_filenames: false
        files: pyproject.toml|poetry.lock
  - repo: local
    hooks:
      - id: install typeshed
        name: typeshed
        entry: bash -c 'git clone https://github.com/python/typeshed.git || true; pushd typeshed && git checkout 9af49c0 || popd'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.91"]
  - repo: local
    hooks:
      - id: smoketest
        name: smoketest
        entry: poetry run pytest -k test_when_nb_present_then_collected
        language: system
        pass_filenames: false

kernel flag
  README.md
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_pytest_plugin.py
Due: pyright

kernel flag (#58)
  README.md
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_pytest_plugin.py
Due: pyright

Update pytest.yml
  .github/workflows/pytest.yml
Due: none

Published new version
  pyproject.toml
Due: poetry

ignore tag
  README.md
  poetry.lock
  pyproject.toml
  tests/resources/ignore_tag.ipynb
  tests/resources/raises_tag.ipynb
  tests/test_nb_run.py
Due: poetry, pyright

pre-commit
  .pre-commit-config.yaml
Due: none

pre-commit
  .pre-commit-config.yaml
  README.md
Due: none

pre-commit
  .devcontainer/devcontainer.json
Due: none

[feature] ignore tag (#61)
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  tests/resources/ignore_tag.ipynb
  tests/resources/raises_tag.ipynb
  tests/test_nb_run.py
Due: poetry, pyright

Update pyproject.toml
  pyproject.toml
Due: poetry

Allow pytest 7 (#64)
  pyproject.toml
Due: poetry

bump nbclient to >= 0.5.13 in deps
  pyproject.toml
Due: poetry

rm lock, bump python to ^3.7 for nbclient
  poetry.lock
  pyproject.toml
Due: poetry

specify python 6 in dev
  pyproject.toml
Due: poetry

ver
  .github/workflows/pytest.yml
  pyproject.toml
Due: poetry

6.25
  pyproject.toml
Due: poetry

Bump nbclient, rm support for py3.6 (#66)
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
Due: poetry

testdir patch
  poetry.lock
  tests/helper.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

fmt
  pyrightconfig.json
  tests/helper.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright

devcon
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitpod.dockerfile
  .gitpod.yml
Due: none

ci
  .github/workflows/pytest.yml
Due: none

vscode
  .vscode/settings.json
Due: none

simplify
  .github/workflows/pytest.yml
  .github/workflows/test-publish-to-pypi.yml
  .pre-commit-config.yaml
Due: none

simplify
  .github/workflows/test-publish-to-pypi.yml
Due: none

fix devcontainer (#69)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
  .github/workflows/test-publish-to-pypi.yml
  .gitpod.dockerfile
  .gitpod.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  poetry.lock
  pyrightconfig.json
  tests/helper.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

Update CONTRIBUTING.MD
  CONTRIBUTING.MD
Due: none

osx
  .github/workflows/pytest.yml
Due: none

osx (#70)
  .github/workflows/pytest.yml
Due: none

Update README.md
  README.md
Due: none

bump nbclient version
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
Due: poetry

fix
  .github/workflows/test-publish-to-pypi.yml
Due: none

pypi fix
  .github/workflows/pytest.yml
  .github/workflows/test-publish-to-pypi.yml
Due: none

twine
  .github/workflows/test-publish-to-pypi.yml
Due: none

t
  .github/workflows/test-publish-to-pypi.yml
Due: none

f
  .github/workflows/publish-to-pypi.yml
  .github/workflows/test-publish-to-pypi.yml
Due: none
