Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["-m", "3", "--tc"]
  - repo: local
    hooks:
      - id: poetry
        name: poetry
        entry: poetry install
        language: system
        pass_filenames: false
        files: pyproject.toml|poetry.lock
  - repo: local
    hooks:
      - id: typeshed
        name: typeshed
        entry: bash -c 'git clone https://github.com/python/typeshed.git || true; pushd typeshed && git checkout 9af49c0 || popd'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright || bash -c 'poetry shell || pyright'
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.91"]
  - repo: local
    hooks:
      - id: smoketest
        name: smoketest
        entry: poetry run pytest -k test_when_nb_present_then_collected
        language: system
        pass_filenames: false

f
  docs/landing-page.ipynb
Due: none

s
  .pre-commit-config.yaml
Due: none

j
  docs/_config.yml
  docs/_toc.yml
  docs/landing-page.ipynb
  docs/page1.ipynb
  src/nbmake/pytest_plugin.py
Due: pyright

d
  README.md
  docs/_config.yml
  docs/_toc.yml
  docs/landing-page.ipynb
  docs/page1.ipynb
Due: none

kernel
  .github/workflows/pytest.yml
Due: none

[ENH] Update docs (#10)
  .github/workflows/pytest.yml
  README.md
  docs/_config.yml
  docs/_toc.yml
  docs/landing-page.ipynb
  docs/page1.ipynb
Due: none

deploy: 49f98f1b5f40f908b8c97aec269f898ce47b47da
  .buildinfo
  _sources/landing-page.ipynb
  _sources/page1.ipynb
  _static/__pycache__/__init__.cpython-39.pyc
  genindex.html
  landing-page.html
  objects.inv
  page1.html
  search.html
  searchindex.js
Due: none

jb path
  src/nbmake/jupyter_book_adapter.py
Due: pyright

verbose mode
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_pytest_plugin.py
Due: pyright

fix bug
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
Due: pyright

rm config
  README.md
  docs/landing-page.ipynb
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_pytest_plugin.py
Due: pyright

cov
  codecov.yml
Due: none

[ENH] Improve docs and logging (#11)
  README.md
  codecov.yml
  docs/landing-page.ipynb
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_pytest_plugin.py
Due: pyright

deploy: ce0e7dc2dfd2f2861baf356a317186f616fa8cd7
  _sources/landing-page.ipynb
  _static/__pycache__/__init__.cpython-39.pyc
  landing-page.html
  searchindex.js
Due: none

t
  .pre-commit-config.yaml
  README.rst
  setup.py
Due: pyright

autogenerate setup py on pre-commit
  .github/workflows/pytest.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  README.rst
  pyproject.toml
  setup.py
Due: poetry, pyright

f
  .github/workflows/pytest.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  README.rst
  pyproject.toml
  setup.py
Due: poetry, pyright

f
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
Due: none

k
  .github/workflows/pytest.yml
Due: none

k
  .pre-commit-config.yaml
Due: none

j
  .devcontainer/devcontainer.json
  README.md
  docs/_config.yml
  docs/landing-page.ipynb
  pyrightconfig.json
  pytest.ini
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  src/nbmake/util.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright

fix
  .pre-commit-config.yaml
  setup.py
Due: pyright

g
  pyproject.toml
Due: poetry

f
  .vscode/settings.json
Due: none

f
  .gitignore
Due: none

f
  README.md
  docs/landing-page.ipynb
  docs/screen.png
Due: none

j
  .github/workflows/pytest.yml
  setup.py
Due: pyright

i
  .github/workflows/pytest.yml
Due: none

h
  src/nbmake/pytest_plugin.py
  tests/test_pytest_plugin.py
Due: pyright

j
  tests/test_pytest_plugin.py
Due: pyright

g
  .github/workflows/pytest.yml
Due: none

h
  .github/workflows/pytest.yml
Due: none

test code
  src/nbmake/nb_result.py
  src/nbmake/nb_run.py
  tests/test_nb_run.py
Due: pyright

g
  poetry.lock
  pyproject.toml
  setup.py
  src/nbmake/nb_run.py
  tests/test_nb_run.py
Due: poetry, pyright

fix dir error
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright

f
  tests/test_nb_run.py
Due: pyright

Refactor report build
  .github/workflows/pytest.yml
  docs/landing-page.ipynb
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  src/nbmake/util.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright

test
  src/nbmake/pytest_plugin.py
  tests/test_pytest_plugin.py
Due: pyright

stripout before run
  src/nbmake/nb_run.py
  src/nbmake/pytest_plugin.py
  tests/test_nb_run.py
Due: pyright

j
  .github/workflows/pytest.yml
Due: none
