Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        files: '(src|tests).*py'
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["-m", "3", "--tc"]
  - repo: local
    hooks:
      - id: poetry
        name: sync with poetry
        entry: bash -c 'mkdir dist && poetry run dephell deps convert --to-path dist/setup.py && diff dist/setup.py setup.py'
        language: system
        pass_filenames: false
        files: pyproject.toml|poetry.lock
  - repo: local
    hooks:
      - id: install typeshed
        name: typeshed
        entry: bash -c 'git clone https://github.com/python/typeshed.git || true; pushd typeshed && git checkout 9af49c0 || popd'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.91"]
  - repo: local
    hooks:
      - id: smoketest
        name: smoketest
        entry: poetry run pytest -k test_when_nb_present_then_collected
        language: system
        pass_filenames: false

Update README.md
  README.md
Due: none

Update README.md (#35)
  README.md
Due: none

sgrep
  .github/workflows/semgrep.yml
  src/nbmake/nb_run.py
Due: pyright

fix
  src/nbmake/nb_run.py
Due: pyright

Update README.md (#39)
  README.md
Due: none

rm url
  README.md
Due: none

pod
  .gitpod.yml
Due: none

space
  .gitpod.yml
Due: none

fix prebuild
  .gitpod.yml
  poetry.toml
Due: none

Update README.md (#40)
  .gitpod.yml
  README.md
  poetry.toml
Due: none

Update README.md (#42)
  README.md
Due: none

attempt
  poetry.lock
  pyproject.toml
Due: poetry

Remove IPYKernel pin (#43)
  poetry.lock
  pyproject.toml
Due: poetry

Published new version
  pyproject.toml
Due: poetry

ipykernel
  poetry.lock
  pyproject.toml
Due: poetry

rm lock
  poetry.lock
Due: poetry

ipykernel (#44)
  poetry.lock
  pyproject.toml
Due: poetry

fix init file bug
  src/nbmake/pytest_items.py
  tests/test_pytest_plugin.py
Due: pyright

gp
  .gitpod.yml
Due: none

lock
  README.md
  poetry.lock
Due: poetry

fix
  poetry.toml
  tests/test_pytest_plugin.py
Due: pyright

fix init file bug (#47)
  .gitpod.yml
  README.md
  poetry.lock
  poetry.toml
  src/nbmake/pytest_items.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

chore: remove pathlib dependency
  poetry.lock
  pyproject.toml
Due: poetry

chore: remove pathlib dependency (#48)
  poetry.lock
  pyproject.toml
Due: poetry

lower min. pytest version
  pyproject.toml
Due: poetry

lower min. pytest version (#49)
  pyproject.toml
Due: poetry

conf
  poetry.toml
Due: none

docker
  .gitpod.dockerfile
  .gitpod.yml
Due: none

m
  .gitpod.dockerfile
Due: none

zsh
  .gitpod.dockerfile
Due: none

Update .gitpod.dockerfile
  .gitpod.dockerfile
Due: none

Update .gitpod.yml
  .gitpod.yml
Due: none
