Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
    -   id: trailing-whitespace
  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout
  - repo: https://github.com/ambv/black
    rev: stable
    hooks:
      - id: black
        files: '(src|tests).*py'
  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["-m", "3", "--tc"]
  - repo: local
    hooks:
      - id: poetry
        name: sync with poetry
        entry: bash -c 'mkdir dist && poetry run dephell deps convert --to-path dist/setup.py && diff dist/setup.py setup.py'
        language: system
        pass_filenames: false
        files: pyproject.toml|poetry.lock
  - repo: local
    hooks:
      - id: install typeshed
        name: typeshed
        entry: bash -c 'git clone https://github.com/python/typeshed.git || true; pushd typeshed && git checkout 9af49c0 || popd'
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: poetry run pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.91"]
  - repo: local
    hooks:
      - id: smoketest
        name: smoketest
        entry: poetry run pytest -k test_when_nb_present_then_collected
        language: system
        pass_filenames: false

g
  .github/workflows/pytest.yml
Due: none

g
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.py
Due: poetry, pyright

h
  .github/workflows/pytest.yml
Due: none

f
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  setup.py
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/pytest_plugin.py
Due: poetry, pyright

fix build issue
  .github/workflows/pytest.yml
  src/nbmake/jupyter_book_adapter.py
  tests/test_pytest_plugin.py
Due: pyright

g
  src/nbmake/nb_run.py
  tests/test_nb_run.py
Due: pyright

fix pre-commit
  .pre-commit-config.yaml
  setup.py
Due: pyright

docs
  src/nbmake/pytest_plugin.py
Due: pyright

docs
  README.md
  docs/_config.yml
  docs/landing-page.ipynb
  pyproject.toml
  setup.py
Due: poetry, pyright

f
  docs/landing-page.ipynb
Due: none

j
  src/nbmake/nb_run.py
Due: pyright

[ENH] check setup.py validity on pre-commit (#13)
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  README.rst
  docs/_config.yml
  docs/landing-page.ipynb
  docs/screen.png
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  pytest.ini
  setup.py
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/nb_result.py
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  src/nbmake/util.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

deploy: 055551baa9927be24df52050a08b102b71133824
  _images/screen.png
  _sources/landing-page.ipynb
  _static/__pycache__/__init__.cpython-39.pyc
  _static/pygments.css
  landing-page.html
  searchindex.js
Due: none

n
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
  setup.py
  src/nbmake/jupyter_book_adapter.py
  tests/test_nb_run.py
Due: poetry, pyright

f
  setup.py
Due: pyright

n
  poetry.lock
  pyproject.toml
Due: poetry

[FIX] Add missing dep (#14)
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
  setup.py
  src/nbmake/jupyter_book_adapter.py
  tests/test_nb_run.py
Due: poetry, pyright

deploy: 9a6ac7a293e2ba3a1e2a84260972eb2088ac766b
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

g
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
  setup.py
Due: poetry, pyright

rm publish
  .github/workflows/publish-to-pypi.yml
Due: none

Release 0.1 (#15)
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
  setup.py
Due: poetry, pyright

f
  README.md
Due: none

Update Readme (#16)
  README.md
Due: none

f
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
  setup.py
Due: poetry, pyright

deploy: 5fccef97e847df76a457c7f01f8822847950fdbc
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

Postrelease (#17)
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
  setup.py
Due: poetry, pyright

deploy: 2e46e7b7e5ab5f9f9756a23baafb7c2d2db2cabd
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

Update landing-page.ipynb
  docs/landing-page.ipynb
Due: none

Fix docs (#19)
  docs/landing-page.ipynb
Due: none

deploy: 192a37aa2d6cce71ee78e616ee1ffa62c92b4773
  _sources/landing-page.ipynb
  _static/__pycache__/__init__.cpython-39.pyc
  landing-page.html
Due: none

Update README.md
  README.md
Due: none

Update README.md (#20)
  README.md
Due: none

readme
  README.md
  setup.py
Due: pyright

f
  README.md
  setup.py
Due: pyright

g
  README.md
  setup.py
Due: pyright

Update README (#21)
  README.md
  setup.py
Due: pyright

deploy: b44d779880465cbefd19df40bc128498df925f61
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

myst doc
  docs/landing-page.ipynb
  docs/landing-page.md
Due: none

Allow nbclient 0.4, 0.5
  pyproject.toml
  setup.py
Due: poetry, pyright
