Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

poetry:
  name: sync with poetry
  entry: bash -c 'mkdir dist && poetry run dephell deps convert --to-path dist/setup.py && diff dist/setup.py setup.py'
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: poetry run pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.91

Polish.
  README.md
Due: none

add --nbmake-find-import-errors
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/resources/import_errs.ipynb
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright

add --nbmake-find-import-errors (#87)
  src/nbmake/nb_run.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/resources/import_errs.ipynb
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: pyright

Published new version
  pyproject.toml
Due: poetry

doc
  README.md
Due: none

doc (#90)
  README.md
Due: none

Update README.md
  README.md
Due: none

add post-command
  src/nbmake/nb_run.py
  tests/resources/post_command.ipynb
  tests/test_nb_run.py
Due: pyright

bump isort to fix Poetry configuration is invalid
  .pre-commit-config.yaml
Due: none

lints
  src/nbmake/nb_run.py
  tests/resources/post_command.ipynb
Due: pyright

format post command in error message
  src/nbmake/nb_run.py
Due: pyright

handle masked exceptions
  src/nbmake/nb_run.py
  tests/resources/post_command_error.ipynb
  tests/resources/post_command_masked_error.ipynb
  tests/test_nb_run.py
Due: pyright

s/post_command/post_cell_execute/
  src/nbmake/nb_run.py
  tests/resources/post_cell_execute.ipynb
  tests/resources/post_cell_execute_error.ipynb
  tests/resources/post_cell_execute_masked_error.ipynb
  tests/test_nb_run.py
Due: pyright

s/post command/post cell execution
  src/nbmake/nb_run.py
  tests/resources/post_cell_execute_error.ipynb
  tests/test_nb_run.py
Due: pyright

read markers from notebook metadata
  src/nbmake/pytest_items.py
Due: pyright

feat: add ability to run commands after a cell (#94)
  .pre-commit-config.yaml
  src/nbmake/nb_run.py
  tests/resources/post_cell_execute.ipynb
  tests/resources/post_cell_execute_error.ipynb
  tests/resources/post_cell_execute_masked_error.ipynb
  tests/test_nb_run.py
Due: pyright

open notebook as binary
  src/nbmake/pytest_items.py
Due: pyright

tst
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
Due: none

pre-commit
  .github/workflows/pytest.yml
Due: none

d
  .devcontainer/Dockerfile
  .github/workflows/pytest.yml
Due: none

re-enable
  .github/workflows/pytest.yml
Due: none

t
  .devcontainer/Dockerfile
  .github/workflows/pytest.yml
Due: none

CI fix (#96)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
Due: none

fix internal error
  src/nbmake/pytest_items.py
  tests/test_pytest_plugin.py
Due: pyright

pre-commit
  src/nbmake/pytest_items.py
  tests/test_pytest_plugin.py
Due: pyright

pyright
  tests/test_pytest_plugin.py
Due: pyright

fix internal error (#97)
  src/nbmake/pytest_items.py
  tests/test_pytest_plugin.py
Due: pyright

Update test-publish-to-pypi.yml
  .github/workflows/test-publish-to-pypi.yml
Due: none

Add post cell execute docs
  README.md
Due: none

Add post cell execute docs (#101)
  README.md
Due: none

chore: run bump-pydantic
  pyproject.toml
  src/nbmake/nb_result.py
Due: poetry, pyright

build fix
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
  poetry.lock
  poetry.toml
  pyproject.toml
Due: poetry

rm pydantic
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
  src/nbmake/nb_result.py
Due: poetry, pyright

fmt
  src/nbmake/nb_result.py
Due: pyright

pin node version
  .devcontainer/devcontainer.json
Due: none

setuptools
  pyproject.toml
Due: poetry

Remove Pydantic (#109)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/pytest.yml
  poetry.lock
  poetry.toml
  pyproject.toml
  src/nbmake/nb_result.py
Due: poetry, pyright

worker versions
  .github/workflows/publish-to-pypi.yml
  .github/workflows/test-publish-to-pypi.yml
Due: none

Path conditions:
  poetry: any of: pyproject.toml|poetry.lock
  pyright: any of: \.py$
