Repository treebeardtech/nbmake: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry, pyright

poetry:
  name: sync with poetry
  entry: bash -c 'mkdir dist && poetry run dephell deps convert --to-path dist/setup.py && diff dist/setup.py setup.py'
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: poetry run pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.91

typeshed
  .pre-commit-config.yaml
Due: none

rm upload
  .github/workflows/pytest.yml
Due: none

Allow nbclient 0.4, 0.5 (#24)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
Due: poetry, pyright

deploy: b3559268d8353d7b5a6b035ec22cf5aad38afdce
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

slack
  README.md
Due: none

slack (#25)
  README.md
Due: none

b
  README.md
Due: none

badge (#26)
  README.md
Due: none

sync with poetry
  setup.py
Due: pyright

deploy: ef3a8988ee5ab0987fd7e912430609ef2dd2dd6a
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

cc
  .pre-commit-config.yaml
  codecov.yml
  pyrightconfig.json
Due: none

rm
  codecov.yml
Due: none

codecov config fix (#27)
  .pre-commit-config.yaml
  codecov.yml
  pyrightconfig.json
Due: none

deploy: 021afa4eba20a94f726ea80da227d7bff4de117c
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

Update README.md
  README.md
Due: none

Update setup.py
  setup.py
Due: pyright

deploy: 9d6aef7db033d547ab17678a8ade7bf9b190fe0a
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

rm html
  .github/workflows/pytest.yml
  CONTRIBUTING.MD
  README.md
  docs/landing-page.ipynb
  docs/screen.png
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  setup.py
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

version
  pyproject.toml
  setup.py
Due: poetry, pyright

Remove html report (#28)
  .github/workflows/pytest.yml
  CONTRIBUTING.MD
  README.md
  docs/landing-page.ipynb
  docs/screen.png
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  setup.py
  src/nbmake/jupyter_book_adapter.py
  src/nbmake/pytest_items.py
  src/nbmake/pytest_plugin.py
  tests/test_nb_run.py
  tests/test_pytest_plugin.py
Due: poetry, pyright

deploy: 07cd2a264c1138aa300f61c15909d363969f7687
  .buildinfo
  _images/screen.png
  _sources/landing-page.ipynb
  _static/__pycache__/__init__.cpython-39.pyc
  _static/basic.css
  _static/css/index.73d71520a4ca3b99cfee5594769eaaae.css
  _static/css/index.f658d18f9b420779cfdf24aa0a7e2d77.css
  _static/doctools.js
  _static/js/index.d3f166471bb80abb5163.js
  _static/language_data.js
  _static/mystnb.css
  _static/pygments.css
  _static/searchtools.js
  _static/underscore-1.12.0.js
  _static/underscore-1.3.1.js
  _static/underscore.js
  _static/webpack-macros.html
  genindex.html
  landing-page.html
  search.html
  searchindex.js
Due: none

i
  .pre-commit-config.yaml
  README.md
  setup.py
  src/nbmake/nb_run.py
  tests/helper.py
Due: pyright

ver
  pyproject.toml
Due: poetry

Improve err messages (#30)
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  setup.py
  src/nbmake/nb_run.py
  tests/helper.py
Due: poetry, pyright

deploy: 912917906bc3e451a54dd12669fdbcf5a8bf6f75
  _static/__pycache__/__init__.cpython-39.pyc
Due: none

Update README.md (#31)
  README.md
Due: none

win
  .github/workflows/pytest.yml
Due: none

a
  .github/workflows/pytest.yml
Due: none

w
  .github/workflows/pytest.yml
Due: none

f
  .github/workflows/publish-to-pypi.yml
  README.md
  src/nbmake/pytest_plugin.py
Due: pyright

f
  .github/workflows/pytest.yml
  pytest.ini
Due: none

f
  .github/workflows/pytest.yml
Due: none

Test on windows (#32)
  .github/workflows/publish-to-pypi.yml
  .github/workflows/pytest.yml
  README.md
  pytest.ini
  src/nbmake/pytest_plugin.py
Due: pyright

Published new version
  pyproject.toml
Due: poetry

readme
  README.md
Due: none

f
  README.md
Due: none

rm
  .github/workflows/pytest.yml
Due: none

readme (#33)
  .github/workflows/pytest.yml
  README.md
Due: none

Path conditions:
  poetry: any of: pyproject.toml|poetry.lock
  pyright: any of: \.py$
